{% extends 'base.html' %}


{% block content %}

    <div id="messageBoard">
    <form name="messageBoard" class="col-10 mx-auto border border-primary m-5">
        <h4 class="text-bold text-center mt-3">Chat with {{ chatname }}</h4>
        {% for message in messages %}
        {% if message.recipientId == currentuser %}
        <div class="form-group mx-4 text-right">
            <h5><span class="badge pill-badge badge-primary">{{message.body}}</span></h5>
            <small>{{message.recipientId}}, {{message.dateTime}}</small>
        </div>
        {% else %}
        <div class="form-group mx-4">
            <h5><span class="badge pill-badge badge-secondary">{{message.body}}</span></h5>
            <small>{{message.recipientId}}, {{message.dateTime}}</small>
        </div>
        {% endif %}
        {% endfor %}
    </form>
    </div>
    <form method="post" class="col-10 mx-auto border border-primary p-3 m-5">
        {% csrf_token %}
        <div class="text-center mr-4">
            <input type="text" value="{{ currentuser }}" name="senderId" class="form-control m-3" hidden>
            <input type="text" value="{{ chatname }}"name="recipientId" class="form-control m-3" hidden>
            <input type="text" id="message" name="message" class="form-control m-3 mx-auto col-10" placeholder="Message">
            <button type="submit" href="/{{currentuser.id}}/inbox/{{chatname}}/inboxDetails" id="replyButton" class="btn mb-2 btn-primary text-right ml-4">Send message to {{chatname}}</button>
    
             <a id="refreshButton" href="/{{currentuser.id}}/inbox/{{chatname}}/inboxDetails" role="button" class="btn mb-2 btn-secondary text-right ml-4">Refresh Chat</a>
            <a id="deleteButton" href="/{{currentuser.id}}/inbox/{{chatname}}/delete" role="button" class="btn mb-2 btn-danger text-right ml-4">Delete Chat</a>
    
            
        </div>
    </form>


        
{% endblock %}

{% block js %}
<script>

    $(document).ready(function(){
        $(document).scrollTop($(document).height());
    });

    //$('#refreshButton').on('click', function () {
    //    location.reload();
    //});
        
</script>
{% endblock %}