{% extends 'base.html' %}

{% block content %}
        <table class="table table-responsive-sm mx-auto table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">From</th>
                </tr>
            </thead>
            <tbody>
                {% for message in chatnames %}
                <tr class="clickable-row" data-href="/{{message}}/inboxDetails">
                    <td>{{ message }}</td>    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    



{% endblock %}

{% block js %}

<script>
    $(".clickable-row").click(function () {
        window.location += $(this).data("href");
    });
</script>

{% endblock%}