{% extends 'base.html' %}

{% block content %}
<br /><br />
        <table class="table table-responsive-sm col-8 mx-auto text-center table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">UserName</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <a id="newButton" href="/{{pk}}/new" role="button" class="btn mr-5 mb-2 btn-success text-center ml-4">New Chat</a>
                </tr>
                {% for chat in chatnames %}
                <tr class="clickable-row" data-href="/{{chat}}/inboxDetails">
                    <td>
                        {{ chat }}
                    </td>   
                    <td>
                        <a id="viewButton" href="/{{pk}}/inbox/{{chat}}/inboxDetails" role="button" class="btn mb-2 btn-secondary text-center ml-4">View Chat</a>
                        <a id="deleteButton" href="/{{pk}}/inbox/{{chat}}/delete" role="button" class="btn mb-2 btn-danger text-center ml-4">Delete Chat</a>
                    </td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    



{% endblock %}

{% block js %}

<script>
    $(".clickable-row").click(function () {
        window.location += $(this).data("href");
    });
</script>

{% endblock%}