{% extends "base.html" %}

{% block content %}

    <form method="post" class="col-6 mx-auto border border-primary m-5">
        <h4 class="text-bold text-center mt-3">Log In to your MessagingApp account</h4>
        <p class="text-center">It's good to see you again</p>
        {% csrf_token %}
        <div class="form-group mt-3 mx-4">
            <label>{{ form.username.label_tag }}</label>
            <input type="text" name="username" class="form-control" placeholder="Enter UserName">
        </div>
        <div class="form-group mx-4">
            <label>{{ form.password.label_tag }}</label>
            <input type="password" name="password" class="form-control" placeholder="Enter Password">
        </div>
        <div class="form-group mx-4">
            {% if form.errors %}
            <p class="text-center text-danger">UserName or Password not found. Please try again.</p>
            {% endif %}
        </div>
        <div class="text-right mr-4">
            <button type="submit" class="btn mb-5 btn-primary text-right ml-4">Log In</button>
        </div>
    </form>
{% endblock %}